<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@receiver) do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 well">
            <%= dmm_input(f, "text", "單位名稱", :name, "請輸入接收單位名稱" ) %>
            <% if @receiver.errors.any? %>
              <% @receiver.errors.messages[:name].each do |message| %>
                <div class="has-error">
                  <i class="fa fa-times-circle"></i>
                  <%= message %>
                </div>
              <% end %>
            <% end %>
            <br>
            <%= dmm_input(f, "text", "連絡人士", :contact, "請輸入連絡人姓名" ) %>
            <br>
            <%= dmm_input(f, "text", "連絡電話", :phone, "請輸入連絡電話" ) %>
            <br>
            <%= dmm_input(f, "textarea", "單位敘述", :comment, "請簡述該單位相關訊息" ) %>
          </div>
        </div>
      </div>
      
      <div class="form-actions">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center">
            <%= f.submit @submit, class: "btn btn-primary btn-embossed" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
