<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@receiver) do |f| %>
      <% if @receiver.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@receiver.errors.count, "error") %> prohibited this receiver from being saved:</h2>
    
          <ul>
          <% @receiver.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 well">
            <%= dmm_input(f, "text", "單位名稱", :name, "請輸入接收單位名稱" ) %>
            <br>
            <%= dmm_input(f, "text", "連絡人士", :contact, "請輸入連絡人姓名" ) %>
            <br>
            <%= dmm_input(f, "text", "連絡電話", :phone, "請輸入連絡電話" ) %>
            <br>
            <%= dmm_input(f, "textarea", "單位敘述", :comment, "請簡述該單位相關訊息" ) %>
          </div>
        </div>
      </div>
      
      <div class="form-actions">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center">
            <%= f.submit @submit, class: "btn btn-primary btn-embossed" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
