<div class="col-md-8 col-md-offset-2">
  <% if @receivers.nil? %>
  <div class="well">
    <!-- index list -->
    <table class="table table-hover" >
      <thead>
          <tr>
            <th>#</th>
            <th>接收單位</th>
            <th>聯絡人</th>
            <th>聯絡電話</th>
            <th>備註</th>
            <% if user_signed_in? %>
              <th></th>
            <% end %>
          </tr>
      </thead>
      <tbody>
        <% @receivers.each do |receiver| %>
          <tr>
            <td><%= receiver.id %></td>
            <td><%= link_to receiver.name, receiver %></td>
            <td><%= receiver.contact %></td>
            <td><%= receiver.phone %></td>
            <td><%= receiver.comment %></td>
            <% if user_signed_in? %>
              <td class="text-right">
                <%= link_to edit_receiver_path(receiver), class: "btn btn-sm btn-embossed btn-inverse" do %>
                  <i class="glyphicon glyphicon-edit"></i>
                <% end %>
                <%= link_to receiver, method: :delete, class: "btn btn-sm btn-embossed btn-danger", data: { confirm: '確定要刪除嗎？' } do %>
                  <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div class="well well-empty text-center">目前沒有<span>接收單位</span>，新增一筆？</div>
  <% end %>
  <!-- Create User Button -->
  <% if user_signed_in? %>
    <div class="text-center">
      <%= link_to new_receiver_path, class: 'btn btn-embossed btn-primary btn-new' do %><i class="glyphicon glyphicon-plus"></i><% end %>
    </div>
  <% end %>
</div>

