<p id="notice"><%= notice %></p>

<p>
  <strong>單位名稱:</strong>
  <%= @receiver.name %>
</p>

<p>
  <strong>聯絡人:</strong>
  <%= @receiver.contact %>
</p>

<p>
  <strong>電話:</strong>
  <%= @receiver.phone %>
</p>

<p>
  <strong>備註:</strong>
  <%= @receiver.comment %>
</p>

<%= link_to '修改', edit_receiver_path(@receiver) %> |
<%= link_to '返回', receivers_path %>
