<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="well">
      <h3><%= @receiver.name %></h3>
      <hr>
      <div class="text-left">
        <span><i class="fa fa-user"></i> 聯絡人　：  </span><strong><%= @receiver.contact %></strong><br>
        <span><i class="fa fa-phone"></i> 聯絡電話：  </span><strong><%= @receiver.phone %></strong>
      </div>
      <hr>
      <%= @receiver.comment %>
    </div>
    <%= link_to '返回列表', receivers_path, class: "btn btn-embossed btn-inverse" %>
  </div>
</div>
