%nav.navbar.navbar-inverse.navbar-embossed{role:"navigation"}
  .container
    .navbar-header
      = link_to root_path, class: "navbar-brand" do
        %strong DMM
      %button.navbar-toggle{"data-target" => "#DMM-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only switch guide
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #DMM-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = nav_li '物資清單', items_path
        = nav_li '接收單位', receivers_path
        = nav_li '分配資料', orders_path

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            %a= "#{current_user.name} 管理員"
          %li
            = button_to destroy_user_session_path, method: :delete, rel: "nofollow", class: "btn btn-primary navbar-btn" do
              %i.fa.fa-sign-out
              登出
        - else
          %li
            %a= "您正使用台灣災難物資管理"
          %li
            = button_to new_user_session_path, class: "btn btn-primary navbar-btn" do
              %i.fa.fa-sign-in
              登入
          
