<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br>
    <!--<%= f.number_field :receiver_id %>-->
    <%= select_tag 'order[receiver_id]', options_for_select(@receivers.collect{ |u| [u.name + '(聯絡人：' + u.contact + ')', u.id] }) %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <!--<%= f.number_field :item_id %>-->
    <%= select_tag 'order[item_id]', options_for_select(@items.collect{ |u| [u.name + '(剩餘：' + u.amount.to_s + ')', u.id] }) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
