<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@order) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    
          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 well">
            <div class="row">
              <div class="col-md-6">
                <%= f.label "請選擇連絡人" %><br>
                <%= select_tag 'order[receiver_id]', options_for_select(@receivers.collect{ |u| [u.name + '(聯絡人：' + (u.contact.empty? ? "無" : u.contact ) + ')', u.id] }), class: "form-control select select-primary select-block" %>
              </div>
              <div class="col-md-6">
                <%= f.label "請選擇分配物資" %><br>
                <%= select_tag 'order[item_id]', 
                  options_for_select(@items.collect{ |u| [u.name + "(剩餘：#{u.amount}，安全存量：#{u.safety_stock})", u.id] }), 
                  class: "form-control select select-primary select-block" %>
              </div>
            </div>
            <br>
            <%= dmm_input(f, "number", "分配數量", :amount, "請輸入欲分配數量" ) %>
            <br>
            <%= dmm_input(f, "textarea", "分配備註", :comment, "請簡述分配綱要" ) %>
          </div>
        </div>
      </div>
      
      <div class="form-actions">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center">
            <%= f.submit @submit, class: "btn btn-primary btn-embossed" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $("select").select2({dropdownCssClass: 'select-inverse-dropdown'});
</script>