<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Receiver</th>
      <th>Item</th>
      <th>Amount</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.comment %></td>
        <td><%= order.receiver_id %></td>
        <td><%= order.item_id %></td>
        <td><%= order.amount %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <br>
  <%= link_to 'New Order', new_order_path %>
<% end %>
