<p id="notice"><%= notice %></p>

<p>
  <strong>接收單位:</strong>
  <%= @order.receiver.name %>
</p>

<p>
  <strong>物品:</strong>
  <%= @order.item.name %>
</p>

<p>
  <strong>數量:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>備註:</strong>
  <%= @order.comment %>
</p>

<%= link_to '修改', edit_order_path(@order) %> |
<%= link_to '返回', orders_path %>
