<div class="col-md-8 col-md-offset-2">
  <% if !@items.empty? %>
  <div class="well">
    <!-- index list -->
    <table class="table table-hover" >
      <thead>
          <tr>
            <th>#</th>
            <th>物資名稱</th>
            <th>數量</th>
            <% if user_signed_in? %>
              <th></th>
            <% end %>
          </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, item %></td>
            <td><%= item.amount %></td>
            <% if user_signed_in? %>
              <td class="text-right">
                <%= link_to edit_item_path(item), class: "btn btn-sm btn-embossed btn-inverse" do %>
                  <i class="glyphicon glyphicon-edit"></i>
                <% end %>
                <%= link_to item, method: :delete, class: "btn btn-sm btn-embossed btn-danger", data: { confirm: '確定要刪除嗎？' } do %>
                  <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div class="well well-empty text-center">目前沒有<span>物資項目</span>，新增一筆？</div>
  <% end %>
  <!-- Create User Button -->
  <% if user_signed_in? %>
    <div class="text-center">
      <%= link_to new_item_path, class: 'btn btn-embossed btn-primary btn-new' do %><i class="glyphicon glyphicon-plus"></i><% end %>
    </div>
  <% end %>
</div>
