<p id="notice"><%= notice %></p>

<p>
  <strong>物品名稱:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>數量:</strong>
  <%= @item.amount %>
</p>

<%= link_to '修改', edit_item_path(@item) %> |
<%= link_to '返回', items_path %>
